<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Sistema de Gerenciamento de Clínica{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header class="bg-primary text-white p-3">
        <div class="container d-flex justify-content-between align-items-center">
            <div class="logo">
                <h1>Clínica</h1>
            </div>
            
        
            
            <nav>
                <ul class="nav">
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link text-white" href="{% url 'home' %}">Início</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="{% url 'agendar_consulta' %}">Agendar Consulta</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="{% url 'cadastrar_paciente' %}">Cadastrar Paciente</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="{% url 'buscar_paciente' %}">Buscar Paciente</a> <!-- Novo link -->
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="{% url 'ver_consultas' %}">Consultas Agendadas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="{% url 'logout' %}">Sair</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link text-white" href="{% url 'login' %}">Entrar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="{% url 'register' %}">Registrar</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>

    <main class="container mt-4">
        <section class="content">{% block content %}{% endblock %}</section>
    </main>



    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
