{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
        <h2 class="text-center">Editar Consulta</h2>
        <form method="post" class="p-4 border rounded shadow-sm bg-light">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="d-grid mt-3">
                <button type="submit" class="btn btn-primary">Salvar Alterações</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
